.fira-sans-normal {
    font-family: "Fira Sans";
    font-style: normal;
}

/* shared style */
.text-center {
    text-align: center;
}

.btn-primary {
    background: rgb(0, 106, 80);
    border-radius: 8px;
    border: none;
    color: white;
    padding: 17px 34px 17px 34px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

/* nav style */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 160px 24px 160px;
}

.hero-title {
    font-size: 32px;
    font-weight: 700;
    color: rgba(14, 14, 14, 1);
}

.hero-btn {
    background-color: white;
    color: rgba(0, 106, 80, 1);
    padding: 15px 30px 15px 30px;
    border: 1px solid rgba(0, 106, 80, 1);
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}

/* main style */

main {
    max-width: 1280px;
    margin: 0 auto;
}

.new-bd {
    background-color: rgba(198, 228, 214, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    border-radius: 24px;
    margin-top: 20px;
    margin-bottom: 80px;
    padding: 80px 100px 80px 100px;
}

.new-bd-subtitle {
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
}

.new-bd-title {
    font-size: 56px;
    font-weight: 700;
    margin-top: 10px;
}

/* vision styles */

.vision {
    margin-bottom: 80px;
}

.vision-title {
    font-size: 40px;
}

.vision-description {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}

.vision-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.goal-title {
    font-size: 20px;
    font-weight: 700px;
}

.goal-description {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}



.vision-item-1 {
    background-color: rgba(84, 144, 245, 0.2);
    padding: 32px;
    border-radius: 16px;
}

.vision-item-2 {
    background-color: rgba(198, 228, 214, 1);
    padding: 32px;
    border-radius: 16px;
}

.vision-item-3 {
    background-color: rgba(247, 235, 207, 1);
    padding: 32px;
    border-radius: 16px;
}

.vision-btn-1 {
    color: rgb(255, 255, 255);
    background-color: rgb(84, 144, 245);
    border: none;
    border-radius: 8px;
    padding: 11px 20px;
    font-size: 16px;
    font-weight: 600px;
}

.vision-btn-2 {
    color: rgb(255, 255, 255);
    background-color: rgb(9, 161, 92);
    border: none;
    border-radius: 8px;
    padding: 11px 20px;
    font-size: 16px;
    font-weight: 600px;
}

.vision-btn-3 {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 194, 57);
    border: none;
    border-radius: 8px;
    padding: 11px 20px;
    font-size: 16px;
    font-weight: 600px;
}

/* recent news style */

.recent-news-title {
    font-size: 40px;
    font-weight: 700;
}

.recent-news-description {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.news-container {
    display: flex;
    gap: 32px;
    padding: 48px;

}

.news-container img {
    border-radius: 24px;
}

.news-title {
    font-size: 32px;
    margin: 12px 0;
}

.news-date {
    display: flex;
    gap: 12px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.news-description {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin: 12px 0px;
}

/* donation style */

.donation {
    margin-bottom: 80px;
}

.donate-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.donate-description {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 24px;
}

.donation-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 24px;
    font-size: 40px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);


}

.amount-1 {
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
    width: 240px;

}

.another-bg {
    background-color: rgb(198, 228, 214);
}

.amount-1:hover {
    background-color: bisque;
}

.other-amount {
    margin-top: 32px;
    padding: 20px 140px 20px 140px;
    font-size: 28px;
    font-weight: 400px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    display: block;
    width: 980px;
    text-align: center;

}

.donate-btn {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 32px;
}